/*Inicializa parâmetros de estilo 
com valores padrão*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    /*vh significa uma fração
    da janela de exibição(viewport)
    nesse caso 100, signigica 100%*/
    min-height: 100vh;
    background-color: rgb(243,243,243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wraper {
    /*define o flex container e 
    organiza os itens do container em linhas
    https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    /*alinha os itens no eixo y
    ao centro do flex container*/
    align-items: center;
    /*alinha os itens no eixo x
    da esquerda para a direita*/
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
}

.instagram-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    /* muda a direção da orientação do conteiner para
    coluna (o default é linha) */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

/*nth-child é utilizado para
selecionar os elementos dentro
do conteiner*/
.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}
